@model SchoolManagement.mvc.DataDB.StudentEnrollmentTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentEnrollmentTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co.CoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stu.StudentRegId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
