@model SchoolManagement.mvc.DataDB.TeacherAllocationTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeacherAllocationTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Co)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Co.CoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIdNavigation.TeacherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
